/* About */


/* Headshot */

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.image-neon {
  position: relative;
  animation: imgFlash 3s ease-in-out 0s infinite;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}