/* About */


/* Headshot */

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.image-neon {
  border: 5px solid #2de2e6;
  box-shadow: 0 0 10px #05DDDD;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}