/* About */
.about {
    background-color: #f9c80E;
    padding: 15px;
    border-radius: 3px;
  }
  .about p {
    padding: 10px;
  }

  .about h1 {
    font-family: "Teko", sans-serif;
    color: #f6019d;
    margin: 0;
  }
  
  .about h2 {
    font-family: "Teko", sans-serif;
    color: #f6019d;
    margin: 0;
  }

/* neon image border */

.image-neon {
  position: relative;
  animation: imgFlash 3s ease-in-out 0s infinite;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}