/* Facts */
.facts {
  margin-top: 50px;
}

/* Skills */
.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-content: space-evenly;   
  }

  .skillBlock {
    background-image: linear-gradient(#0D0221, #261447); 
    border: 5px solid #2de2e6;
    box-shadow: 0 0 10px #05DDDD;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
  }
  
  .skillBlock ul {
    list-style: none;
    padding-inline-start: 0;
  }
  

/* Job Experience */
.experience {
  margin: 20px 0 20px 0;
}

.jobs {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;  
  grid-gap: 20px;
}

.job {
  background-image: linear-gradient(#0D0221, #261447);
  border: 5px solid #2de2e6;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 10px #05DDDD;
}

.job ul {
  list-style-type: square;
}
  
/* Educations and Certs */

.education-grid {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}
.education {
  margin-top: 30px;
  padding: 20px;
  background-image: linear-gradient(#0D0221, #261447);
  border: 5px solid #2de2e6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(17, 206, 206);
  max-width: 500px;
}

.education h2 {
  padding-bottom: 10px;
}

.school {
  padding-bottom: 10px;
}

.certs {
  margin-top: 30px;
  padding: 20px;
  background-image: linear-gradient(#0D0221, #261447);
  border: 5px solid #2de2e6;
  border-radius: 10px;
  box-shadow: 0 0 10px #05DDDD;
  max-width: 400px;
}

.cert {
  padding-bottom: 10px;
}