@import url('https://fonts.googleapis.com/css?family=Rubik|Trirong&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #0A0F0D;
  font-size: 22px;
  font-family: 'Trirong', serif;
  color: #fff;
}

h1 {
  color: #FFD23F;
  letter-spacing: 7px;
  font-family: 'Rubik', sans-serif;
}

h2 {
  color: #EE4266;
  letter-spacing: 4px;
}

h3 {
  color: #1DD3B0;
  letter-spacing: 4px;
}

.header {
  background-color: #0A0F0D;
  padding: 1rem;
}

.header a {
  color: #FFD23F;
  font-weight: 700;
  text-decoration: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem auto;
  max-width: 90%;
  width: 57ch;
}

.project-preview {
  margin-bottom: 2rem;
  width: 100%;
}

@media (min-width: 600px) {
  .project-preview {
    flex: 1 50%;
    max-width: calc(50% - 0.5rem);
  }
}

.project-preview h2 {
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

.project-preview h2 a {
  color: #EE4266;
  text-decoration: none;
}

.project-preview p {
  margin-top: 0.5rem;
}

.project {
  width: 100%;
}

.project h3,
.project img,
.project p {
  margin-top: 1rem;
}

.project ul {
  margin-top: 0.5rem;
}

ul.hobbies-list li {
  list-style-type: none;
}