@import url("https://fonts.googleapis.com/css?family=Teko|Rubik|Trirong&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #261447;
  font-size: 22px;
  font-family: "Trirong", serif;
  color: #fff;
}

h1 {
  color: #f9c80e;
  letter-spacing: 7px;
  font-family: "Rubik", sans-serif;
}

h2 {
  color: #ee4266;
  letter-spacing: 4px;
  font-family: "Rubik", sans-serif;
}

h3 {
  color: #1dd3b0;
  letter-spacing: 4px;
  font-family: "Rubik", sans-serif;
}

.header {
  background-color: #261447;
  padding: 1rem;
}

a.topnav {
  color: #f6019d;
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 4px;
  padding: 10px;
}

a.topnav:hover {
  color: #2de2e6;
  background-color: #f6019D;
}

.content {
  padding: 50px;
  margin: 20px;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem auto;
  max-width: 90%;
  width: 57ch;
}

.project-preview {
  margin-bottom: 2rem;
  width: 100%;
}

@media (min-width: 600px) {
  .project-preview {
    flex: 1 50%;
    max-width: calc(50% - 0.5rem);
  }
}

.project-preview h2 {
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

.project-preview h2 a {
  color: #ee4266;
  text-decoration: none;
}

.project-preview p {
  margin-top: 0.5rem;
}

.project {
  width: 100%;
}

.project h3,
.project img,
.project p {
  margin-top: 1rem;
}

.project ul {
  margin-top: 0.5rem;
}

ul.hobbies-list li {
  list-style-type: none;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}
.skillBlock ul {
  list-style: none;
}

a.logo {
  font-size: 100px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 5px #f6019d, 0 0 10px #f6019d, 0 0 20px #920075, 0 0 30px #920075,
    0 0 40px #920075, 0 0 55px #920075, 0 0 75px #920075;
  text-align: center;
}

a.logo span{
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}