@import url("https://fonts.googleapis.com/css?family=Teko|Monoton|Rubik|Trirong&display=swap");

@import url("https://fontlibrary.org/face/beon");

@import url("https://fontlibrary.org/face/hi");


* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #0d0221;
  font-size: 22px;
  font-family: "Trirong", serif;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

h1 {
  color: #f6019d;
  letter-spacing: 7px;
  font-family: "Rubik", sans-serif;
}

h2 {
  color: #ee4266;
  letter-spacing: 4px;
  font-family: "Rubik", sans-serif;
}

h3 {
  color: #1dd3b0;
  letter-spacing: 4px;
  font-family: "Rubik", sans-serif;
}
/* Navigation */
.header {
  background-color: #0d0221;
  padding: 1rem;
}

a.topnav {
  color: #f6019d;
  font-family: "Teko", sans-serif;
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 4px;
  padding: 10px;
}

a.topnav:hover {
  color: #2de2e6;
  background-color: #f6019d;
  border-radius: 3px;
  box-shadow: 0 0 5px #2de2e6, 0 0 10px #2de2e6, 0 0 10px #05DDDD,
  0 0 10px #05DDDD, 0 0 10px #05DDDD, 0 0 15px #05DDDD, 0 0 15px #05DDDD;
}

.content {
  padding: 50px;
  margin: 20px;
}

/* About */
.about {
  background-color: #261447;
  padding: 15px;
  border-radius: 3px;
}
.about p {
  padding: 10px;
}
.about h1 {
  padding-bottom: 10px;
  font-family: "Teko", sans-serif;
  color: #f6019d
}

.headshot {
  align-content: center;
}

/* Projects */

.project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem auto;
  max-width: 90%;
  width: 57ch;
}

.project-preview {
  margin-bottom: 2rem;
  padding: 15px;
  background-color: #261447;
  box-shadow: 0 0 10px #05DDDD;
}

@media (min-width: 600px) {
  .project-preview {
    flex: 1 50%;
    max-width: calc(50% - 0.5rem);
  }
}

.project-preview h2 {
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

.project-preview h2 a {
  color: #f6019d;
  text-decoration: none;
}

.project-preview p {
  margin-top: 0.5rem;
}

.project-preview a:link {
  color: #ff6c11
}

.project-preview a:visited {
  color: #2de2e6;
}

.project {
  width: 100%;
}

.project a:link{
  color: #ff6c11
}
.project a:visited {
  color: #f9c80e;
}

.project h3,
.project img,
.project p {
  margin-top: 1rem;
}

.project ul {
  margin-top: 0.5rem;
}

/* Hobbies */

.hobbies h1 {
  padding-bottom: 10px;
}
.hobby {
  padding: 20px;
}

img.derby {
  border: 4px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  height: auto;
}

/* Skills Resume */
.skills {
  display: flex;
  flex-wrap: wrap;
  background-color: #261447;
  justify-content: space-between;
  padding: 60px;
  border: 5px solid #2de2e6;
  border-radius: 10px;
  box-shadow: 0 0 5px #2de2e6, 0 0 10px #2de2e6, 0 0 10px #05DDDD,
  0 0 10px #05DDDD, 0 0 10px #05DDDD, 0 0 15px #05DDDD, 0 0 15px #05DDDD;
}
.skillBlock ul {
  list-style: none;
  padding: 20px;
}
.resume {
  margin-top: 30px;
  padding: 20px;
  background-color: #261447;
  border: 5px solid #2de2e6;
  border-radius: 10px;
  box-shadow: 0 0 5px #2de2e6, 0 0 10px #2de2e6, 0 0 10px #05DDDD,
  0 0 10px #05DDDD, 0 0 10px #05DDDD, 0 0 15px #05DDDD, 0 0 15px #05DDDD;
}
.job {
  padding: 20px;
  
}

.job h3 {
  padding-bottom: 20px;
  text-align: left;
}

.education {
  margin-top: 30px;
  padding: 20px;
  background-color: #261447;
  border: 5px solid #2de2e6;
  border-radius: 10px;
  box-shadow: 0 0 5px #2de2e6, 0 0 10px #2de2e6, 0 0 10px #05DDDD,
  0 0 10px #05DDDD, 0 0 10px #05DDDD, 0 0 15px #05DDDD, 0 0 15px #05DDDD;
}

.education h2 {
  padding-bottom: 10px;
}

.school {
  padding-bottom: 10px;
}

/* Logo */

a.logo {
  font-size: 100px;
  font-family: "HiRegular";
  letter-spacing: 10px;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 5px #f6019d, 0 0 10px #f6019d, 0 0 20px #920075,
    0 0 30px #920075, 0 0 40px #920075, 0 0 55px #920075, 0 0 75px #920075;
  text-align: center;
}

a.logo span {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}


/* neon image border */

.image-neon {
  position: relative;
  animation: imgFlash 3s ease-in-out 0s infinite;
  border-radius: 3px;
  
}

@keyframes imgFlash {
  0% {
    border: 5px solid #0d0221;
    box-shadow: 0px 0px 17px 1px #0d0221;
  }
  50% {
    border: 5px solid #0d0221;
    box-shadow: 0px 0px 17px 1px #0d0221;
  }
  50.001% {
    border: 5px solid #2de2e6;
    box-shadow: 0px 0px 17px 1px #2de2e6;
  }
  100% {
    border: 5px solid #2de2e6;
    box-shadow: 0px 0px 17px 1px #2de2e6;
  }
}

