/* Projects */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: space-evenly;
    
}


/* Project Preview */

.project-preview {
  padding: 10px;
  background-image: linear-gradient(#0D0221, #261447);
  border: 5px solid #2de2e6;
  box-shadow: 0 0 10px #05DDDD;
  border-radius: 10px;
}

/* Project */
.image-holder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.project {
  margin: 10px;
}
 