/* Projects */
.projects {
  background: #d40078;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-content {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: #ccc;    
  }
  
  .project-preview {
    padding: 10px;
    background-color: #261447;
    border-radius: 8px;
    box-shadow: 0 0 10px #05DDDD;
  }
  
  @media (min-width: 600px) {
    .project-preview {
      max-width: calc(50% - 0.5rem);
    }
  }
  
  .project-preview h2 {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .project-preview h2 a {
    color: #f6019d;
    text-decoration: none;
  }
  
  .project-preview p {
    margin-top: 0.5rem;
  }
  
  .project-preview a:link {
    color: #f6019d;
  }
  
  .project-preview a:visited {
    color: #2de2e6;
  }
  
  .project {
    width: 100%;
  }
  
  .project a:link{
    color: #f6019d;
  }
  .project a:visited {
    color: #f9c80e;
  }
  
  .project h3,
  .project img,
  .project p {
    margin-top: 1rem;
  }
  
  .project ul {
    margin-top: 0.5rem;
  }
  